@font-face {
  font-family: "Bebas";
  src: url("fonts/Bebas/bebasneuecyrillic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Null */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
  --body-color: #EFEBE7; 
  --font-body: "Inter", sans-serif; 
  --text-color: #000; 
  --text-color-second: #fff; 
  --footer-header-bg: #32393F; 
  --footer-header-text: #fff; 
  --third-family: "Bebas", sans-serif;
}
body {
  background-color: var(--body-color);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 180px;
  height: 53px;
  background: #DC7F63;
  border-radius: 25px;
  transition: background 0.2s ease;
}
.btn:hover {
  background: #b2664e;

}


.hero {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
  padding: 88px 0; 
  text-align: center; 
  height: 676px;
}

.hero .wrapper {
  position: relative;

  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.hero__heading {
  font-weight: 900;
font-size: 48px;
text-align: center;
margin-top: 280px;
color: #fff;
letter-spacing: 0.0091em;
}

.hero__subheading {
  font-weight: 500;
  margin-top: 7px;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #fff;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 780px;
  margin: 52px auto;
  font-weight: 500;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #fff;
}
.heading {
  font-weight: 900;
  font-size: 32px;
  color: #000;
  letter-spacing: 0.03em;
}
.subheading {
  font-weight: 500;
font-size: 18px;
line-height: 122%;
color: #000;
}

.about {
  padding: 65px 0;
}
.about__subheading {
  margin: 20px 0 37px;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__item {
  width: 280px;
}
.about__item-heading {
  font-weight: 900;
font-size: 24px;
color: #000;
margin: 20px 0 5px;
}
.about__item-subheading{
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #000;
}
.promo {
  padding: 20px 0 40px;
}
.promo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.promo__column {
  width: 480px;
  gap: 10px;
}

.promo__img {
  width: 480px;
}
.promo__heading {
  margin-bottom: 27px;
  
}
.promo__subheading+.promo__subheading {
  margin-top: 22px;
}
.promo__subheading {
  font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.03em;
max-width: 460px;
color: #000;
}

.promo__btn {
  margin-top: 60px;
  font-weight: 500;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #fff;
}

.goods {
  padding: 50px 0 100px;
}
.goods__subheading {
  margin: 25px 0 50px;
  max-width: 747px;
  font-weight: 500;
font-size: 16px;
line-height: 119%;
letter-spacing: 0.025em;
color: #000;
}

.goods__categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 690px;
}

.goods__category {
  font-weight: 500;
font-size: 18px;
line-height: 122%;
color: #000;
}

.goods__category:hover {
  cursor: pointer;
}

.goods__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
  gap: 45px;
}


.goods__item {
  position: relative; 
  width: 280px;
  border-radius: 15px 15px 0 0;
  overflow: hidden; 
}

.goods__item-image {
  width: 100%;
  margin-bottom: 40px;
  height: auto; 
  display: block;
}

.goods__item-overlay {
  position: absolute; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  padding: 16px 26px; 
  left: 0;
  right: 0;
  background: #dc7f63; 
  border-radius: 15px 15px 0 0; 
}

.goods__item-heading {
  min-height: 42px;
  font-size: 18px; 
  color: #fff;
  font-weight: 600;
line-height: 111%;
color: #fff;
}

.goods__item-price {
  margin: 0; 
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: #fff;
}
.goods__nav {
  display: flex;
  gap: 7px;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.goods__nav-item {
  font-weight: 400;
font-size: 16px;
text-align: center;
color: #000;
display: flex;
justify-content: center;
align-items: center;
width: 26px;
height: 26px;
border-radius: 50%;
}


.goods__nav .active {
  background-color: #dc7f63;
  color: #fff;
}

.goods__nav-item:hover {
  cursor: pointer;
}

.contacts {
  padding: 47px 0;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.contacts__items {
  margin: 38px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts__item {
  display: flex;
  gap: 10px;
}
.contacts__item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #000;
  letter-spacing: 0.03em;
  transition: color 0.2s ease;
}
.contacts__item a:hover  {
  color: #dc7f63;
  cursor: pointer;
}

.contacts__map {
  min-width: 480px;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.contacts__subheading {
  font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: #000;
}

.contacts__subheading+.contacts__subheading {
  margin-top: 20px;
}
.form {
  padding: 20px 0 105px;
}
.form__subheading {
  margin: 20px 0;
}

.contact-form {
  margin: 0 auto; /* Центрирование формы */
}

.form-row {
  display: flex;
  gap: 20px; /* Расстояние между полями в ряду */
  margin-bottom: 15px; 
  max-width: 580px;
}
.form-row-textarea {
  max-width: none;
}

.form-input {
  flex: 1;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background: #fff;
  height: 53px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  outline: none; 
  transition: border-color 0.3s ease;
  font-weight: 500;
font-size: 16px;
line-height: 119%;
color: #636363;
}


.form-input:focus {
  border-color: #007bff; 
}

.form-textarea {
  resize: vertical;
  border-radius: 25px;
  min-height: 200px;
  padding-top: 20px;
  
}

.form-submit {
  width: 100%;
  padding: 12px;
  background: #007bff; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none;
  border-radius: 10px; /* Закругленные углы кнопки */
  font-size: 16px;
  cursor: pointer; /* Курсор в виде указателя */
  transition: background 0.3s ease; /* Плавное изменение цвета кнопки */
}
.form-btn {
  margin-top: 50px;
}

.form-submit:hover {
  background: #0056b3; /* Цвет кнопки при наведении */
}







/* Start */
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Footer */
.footer {
  background-color: var(--footer-header-bg);
  padding: 60px 0;
  
}

.footer__copy {
  text-align: center;
  margin-top: 20px;
  color: var(--footer-header-text);
}

.footer__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--footer-header-text);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__element {
  color: var(--footer-header-text);
  width: auto;
  transition: color 0.2s ease;
}
.footer__element:hover {
  color: #DC7F63;
}



.footer__column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 200px;
}

.footer__req {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__begamble {
  width: 200px;
  height: auto;
  margin: 20px 0;
}

.footer__age {
  width: 50px;
  height: auto;
}

.footer__column:nth-child(1) {
  align-items: center;
}
.footer__column:nth-child(2) .footer__element {
  min-width: 60px;
}
.footer__column:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 200px;
}


.footer__column:nth-child(2) > * {
  margin-right: 140px;
  margin-bottom: 40px; 
  text-align: left;
}

.footer__column:nth-child(2) > *:nth-child(2n) {
  margin-right: 0;
}
.footer__column:nth-child(3)  {
  gap: 40px;
  text-align: left;
}
.footer__column .header__logo {
  margin: 13px 0 4px;
}

.footer__social-links {
  margin: 0 auto 35px;
  width: auto !important;
  max-width: 280px;
}

@media (max-width: 700px) {
  .footer__content {
    flex-direction: column;
    align-items: center !important;
    gap: 15px;
  }

  .footer__column {
    align-items: center !important;
  }
}

/* Header */

.header {
  background-color: var(--footer-header-bg);
  padding: 10px 0;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__links {
  display: flex;
  flex-direction: row;
  width: 248px;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #DC7F63;
  transition: background 0.2s ease;
}

.header__link:hover {
  background: #b2664e;
}
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  width: auto;
  height: 52px;
}

.header__logo-text {
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  font-family: var(--third-family);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--footer-header-bg);
  width: 100%;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.nav.nav--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav__link {
  color: var(--footer-header-text);
  transition: color 0.2s ease-in;
  border-radius: 5px;
  padding: 5px;
}

.nav__link:hover {
  cursor: pointer;
  color: #DC7F63;
}

.nav__item {
  list-style: none;
}

@media (min-width: 768px) {


  .nav {
    display: flex;
    position: static;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    width: auto;
    padding: 0;
    box-shadow: none;
  }

  .nav__list {
    flex-direction: row;
    gap: 30px;
  }

  .nav__item {
    list-style: none;
  }
}

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0;
  flex-shrink: 0; 
}

main {
  flex: 1; 
  padding-top: 80px; 
}

footer {
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
}
